.inventory-form {
    background-color: #ffffff;
    padding: 1rem;
    margin: 2rem auto; /*orig 2rem*/
    width: 45rem; /*orig 50rem*/
    max-width: 95%; /*orig 95% */
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

  .inventory-form__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .inventory-form__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .inventory-form__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }

  .inventory-form__control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 21rem;
    max-width: 100%;
  }

  .inventory-form__actions {
    text-align: right;
  }
  
  .inventory-form__control.invalid input {
    border-color: red;
    background: #fbdada;
  }
  
  .inventory-form__control.invalid select {
    border-color: red;
    background: #fbdada;
  }