.footer {
    background-color: rgb(0, 0, 65);
    text-align: center;
}

.footer ul {
    color:aliceblue;
    list-style-type: none;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer span {
    color:aliceblue;
    padding-bottom: 80px;
}

.footer a {
    color: aliceblue;
    text-decoration-line: none;
}

.footer a:hover {
    color: aliceblue;
    font-weight: bold;
    text-decoration-line: none;
}
