.navbar {
    display: inline-block;
    padding: 30px;
    width: 1400px;
}

.navbar a {
    font-weight: 500;
    font-size:large;
    padding: 20px;
    text-decoration: none;
    color: rgb(2, 12, 104);
}

.navbar a:hover,
.navbar a:active {
    font-weight: bold;
    text-decoration:none;
}