.table-list {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#resp-table {
    width: 100%;    
    display: table;    
}

#resp-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#resp-table-header {
    display: table-header-group;
    background-color: midnightblue;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

#resp-table-body{
    display: table-row-group;
}

