
.inventory_menu {
  margin-top: 1em;
  text-align: center;
}

.new_vehicle {
    background-color: #ffffff;
    padding: 1rem;
    margin: 2rem auto; /*orig 2rem*/
    width: 45rem; /*orig 50rem*/
    max-width: 95%; /*orig 95% */
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  /* .new_vehicle button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border: 1px solid rgb(7, 38, 122);
    background-color: rgb(7, 38, 122);
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new_vehicle.invalid button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border: 1px solid rgb(108, 108, 110);
    background-color: rgb(108, 108, 110);
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new_vehicle button:hover,
  .new_vehicle button:active {
    background-color: rgb(11, 58, 185);
    border-color: rgb(11, 58, 185);
  }
  
  .new_vehicle button:hover,
  .new_vehicle button:active {
    background-color: rgb(11, 58, 185);
    border-color: rgb(11, 58, 185);
  }
  
  .new_vehicle button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new_vehicle button.alternative:hover,
  .new_vehicle button.alternative:active {
    background-color: #ddb3f8;
  } */
  
  .new_vehicle__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .new_vehicle__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new_vehicle__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    /* background: #ffffff; */
  }
  
  .new_vehicle__actions {
    text-align: right;
  }
  
  .new_vehicle__control.invalid input {
    border-color: red;
    background: #fbdada;
  }
  
  
  
  
  